.conteiner{
    margin-left: 400px;
    margin-right: 400px;
}

  
    
    

.centrdiv{
    
display: flex;
width: 536px;
padding: 69px 59px;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 30px;
background: #F1EDEA;
}