<div class="container2">
    <div class="top-section2">
      <div class="text-wrapper2">
        <span class="text2"><h5>Categories</h5></span>
        <span class="text2"> <h2>Our Products</h2></span>
      </div>
    </div>
    <div class="bottom-section2">
      <div class="image-row2">
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 1 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/image 14.png" alt="Image 1"></a>
          <div class="bottom-left-text2">
            <span class="text2">Mung Bean 11$</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 2 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/Photo (1).png" alt="Image 2"></a>
          <div class="bottom-left-text2">
            <span class="text2">Calabrese Broccoli 8$</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 3 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/Photo (2).png" alt="Image 3"></a>
          <div class="bottom-left-text2">
            <span class="text2">Fresh Banana Fruites 12$</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 4 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/Photo (3).png" alt="Image 4"></a>
          <div class="bottom-left-text2">
            <span class="text2">White Nuts 23$</span>
          </div>
        </div>
      </div>
      <div class="image-row2">
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 5 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/image 13.png" alt="Image 5"></a>
          <div class="bottom-left-text2">
            <span class="text2">Image 5 Bottom Left</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text">Image 6 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/Photo (4).png" alt="Image 6"></a>
          <div class="bottom-left-text2">
            <span class="text2">Image 6 Bottom Left</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 7 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"><img class="image2" src="../../../assets/conteiner2images/Photo (5).png" alt="Image 7"></a>
          <div class="bottom-left-text2">
            <span class="text2">Image 7 Bottom Left</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <span class="text2">Image 8 Top Left</span>
          </div>
          <a href="http://localhost:4200/shopsingle"> <img class="image2" src="../../../assets/conteiner2images/Photo (6).png" alt="Image 8"></a>
          <div class="bottom-left-text2">
            <span class="text2">Image 8 Bottom Left</span>
          </div>
        </div>
      </div>
    </div>
  </div>
