.container {
    display: flex;
    margin-top: 50px;
    
  }
  
  .horizontal{
    display: flex;
    flex-direction: column;
    
  }
  
  .icon-text {
    display: flex;
    align-items: center;
    
  }
  
  .icon-text img {
    margin-right: 25px;
  }

  .vertical{
    margin-right: 100px;
    margin-left: 250px;
  }
  .vertical1{
    margin-left: 80px;
  }

  .platform {
    margin-top: 30px;
    margin: 70px;

    
  }
  .insta{
    height: 50px;
    margin-right: 20px;
  }
  .teleg{
    height: 50px;
    margin-left: -29px
  }
  .vertical p{
    margin-top: -20px;
  }
  .vertical a{
    margin-top: -20px;
  }