<div class="container">
    <div class="vertical">
      <h3>Contact Us</h3>
      <h4>Email</h4>
      <a href="mailto:boburturgunboyev681@gmail.com">{{shop.email}}</a>
      <h4>Phone</h4>
      <p>{{shop.phone}}</p>
      <h4>Address</h4>
      <p>{{shop.address}}</p>
    </div>
    
    <div class="horizontal">
      <div class="icon-text">
        <img src="../../../assets/images/Logo.svg" alt="Icon">
        <h3>Organik</h3>
    </div>
    <div class="icon-text">
      <p>Simply dummy text of the printing and typesetting <br>industry.
          Lorem Ipsum simply dummy text of the printing   </p>
    </div>
    <div class="platform">
        <a href="https://t.me/BTABobur"><img class="teleg" src="../../../assets/shopimages/photo_2024-01-18_20-20-40.jpg" alt="Icon"></a>
        <a href="https://www.instagram.com/bbobur___a/"><img class="insta" src="../../../assets/shopimages/photo_2024-01-18_20-07-49.jpg" alt="Icon"></a>
        
    </div>
    </div>
  
    <div class="vertical1">
      <h3>Utility Pages</h3>
      <p>Style Guide <br><br>404 Not Found <br><br> Password Protected <br><br>Licences <br><br>Changelog</p>
    </div>
  </div>