<div class="container">
    <div class="vertical">
      <h4>Contact Us</h4>
      <p>Email <br> needhelpOrgania.com <br><br><br> Phone <br> 666 888 888 <br><br><br>Address <br>88 road, borklyn street, USA</p>
    </div>
    
    <div class="horizontal">
      <div class="icon-text">
        <img src="../../../assets/images/Logo.svg" alt="Icon">
        <h3>Organik</h3>
    </div>
    <div class="icon-text">
      <p>Simply dummy text of the printing and typesetting <br>industry.
          Lorem Ipsum simply dummy text of the printing   </p>
    </div>
    <div class="platform">
        <img src="../../../assets/images/Logo.svg" alt="Icon">
        <img src="../../../assets/images/Logo.svg" alt="Icon">
        <img src="../../../assets/images/Logo.svg" alt="Icon">
    </div>
    </div>
  
    <div class="vertical1">
      <h4>Utility Pages</h4>
      <p>Style Guide <br><br>404 Not Found <br><br> Password Protected <br><br>Licences <br><br>Changelog</p>
    </div>
  </div>