<div class="container">
    <div class="first-div">
      <img src="../../../assets/aboutimages/photo (10).png" alt="Image">
    </div>
    <div class="second-div">
            <h3 class="ab">About Us</h3>
            <h2>We do Creative <br> 
              Things for Success</h2>
            <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased <br> to been the industry's standard dummy text ever since the 1500s, when an <br>unknown printer took a galley.
              <br><br>   
              Simply dummy text of the printing and typesetting industry. Lorem had ceased <br> to been the industry's standard dummy text ever since the 1500s, when an <br>unknown printer took a galley.</p>
    </div>
  </div>
