<div class="container">
    <div class="horizontal">
      <div class="image">
        <img src="../../../assets/shopsingleimages/Photo (4).jpg" alt="Image" style="height: 500px; width: 500px;">
      </div>
      <div class="vertical">
        <h2>Health Pistachios</h2>
        <p>$13.00</p>
        <p>Simply dummy text of the printing and typesetting industry. Lorem had <br>ceased to been the industry's standard dummy text ever since the 1500s, <br>when an unknown printer took a galley.</p>
      </div>
    </div>
</div>
<div class="horizontal1">
  <h4>Quantity :</h4>
  <p class="emount">1</p>
  <button class="button1">
    Add To Cart
    <img src="../../../assets/images/right.png" alt="Image">
  </button>
</div>
