<div class="container">
    <div class="center">
      <div class="horizontal">
        <a href="http://localhost:4200/service"><button  class="button1">Product Description</button></a>
      </div>
      <div class="vertical">
        <p>Welcome to the world of natural and organic. Here you can discover the bounty of nature. We have grown on the principles of health, <br>ecology, and care. We aim to give our customers a healthy chemical-free meal for perfect nutrition. It offers about 8–10% carbs. Simple <br>sugars — such as glucose and fructose — make up 70% and 80% of the carbs in raw.</p>
      </div>
    </div>
  </div>
