<div class="container">
    <div class="image-container">
      <img src="../../../assets/serviceimages/Photo (5).jpg" alt="Image">
      <div class="text-container">
        <p class="organic">Organic Only</p>
        <h1>Everyday Fresh & Clean</h1>
        <br>
        <p >Simply dummy text of the printing and typesetting industry. Lorem had ceased <br> to been the industry's standard dummy text ever since the </p>
      </div>
      <img class="icon" src="../../../assets/serviceimages/Video Icon.svg" alt="Image">
    </div>
  </div>