.container {
    display: flex;
    margin-left: 770px;
    
  }
  
  .first-div{
    display: flex;
    align-items: center;

  } 
  .second-div {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  .first-div img{
    margin-right: 10px;

  }
   .second-div img {
    margin-right: 10px;
  }