<!-- navbar.component.html -->

<div class="navbar-container">
    <!-- Logo and text -->
    <div class="logo-text-container">
      <img src="../../../assets/images/Logo.svg" alt="Logo">
      <p>Organik</p>
    </div>
  
    <!-- Navigation items -->
    <div class="nav-items">
      <a href="http://localhost:4200/main">Home</a>
      <a href="http://localhost:4200/about">About</a>
      <a href="http://localhost:4200/shop">Shop</a>
      <a href="#">Projects</a>
      <a href="http://localhost:4200/news">News</a>
    </div>
  
    <!-- Search input and button -->
    <div class="search-container">
      <input type="text" placeholder="Search...">
      <button class="search_btn" type="button">Search</button>
    </div>
  
    <!-- Song icon and text -->
    <div class="song-container">
      <img src="../../../assets/images/add-to-cart.png" alt="cart">
      <h5 class="ng">catr</h5>
      <p></p>
    </div>

  </div>
  
