<div class="container">
    <img src="../../../assets/serviceimages/Photo (9).png" alt="Image">
    <div class="text-container">
      <h1>Organic Store Services</h1>
      <p>T is a long established fact that a reader will be distracted by the readable content of a page when looking a <br> layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to <br> using 'Content here, content here', making it look like readable English. 
        <br><br><br>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, <br>and auncover many web sites still in their infancy. Various versions have evolved over the years</p>
    </div>
  </div>
