.container {
    // text-align: center;
    margin-top: 100px;
    
  }
  
  .text-container {
    margin-top: 10px;
    margin-left: 200px;
  }
  .container img{
    height: 600px;
    margin-left: 100px;
  }