.container {
    display: flex;
  }
  
  .first-div {
    flex: 1;
    margin-top: 80px;
    margin-left: 200px;
  }
  
  .second-div {
    flex: 1;
    
  }
  .second-div img{
    border-radius: 15px;
    margin-right: 280px;
  }