<div class="container">
    <div class="first-div">
        <img src="../../../assets/newsimages/Photo (11).png" alt="Image 1">
        <div class="texts">
            <h2>The Benefits of Vitamin D & How to Get It</h2>
            <p>Simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum</p>
            <a href="http://localhost:4200/newssingle">   <button class="b">Read More >>></button></a>
        </div>
    </div>
    <div class="second-div">
      <img src="../../../assets/newsimages/Photo (12).png" alt="Image 2">
      <div class="texts">
          <h2>Our Favorite Summertime Tomato</h2>
          <p>Simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum</p>
          <a href="http://localhost:4200/newssingle"><button class="b">Read More >>> </button></a>
      </div>
    </div>
  </div>
