<div class="container2">
    <div class="top-section2">
      <div class="text-wrapper2">
        <span class="text2"> <h1>Related Products</h1></span>
      </div>
    </div>
    <div class="bottom-section2">
      <div class="image-row2">
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <button class="text22">Image 1 Top Left</button>
          </div>
          <img class="image2" src="../../../assets/conteiner2images/image 14.png" alt="Image 1">
          <div class="bottom-left-text2">
            <span class="text2">Mung Bean 11$</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <button class="text22">Image 2 Top Left</button  >
          </div>
          <img class="image2" src="../../../assets/conteiner2images/Photo (1).png" alt="Image 2">
          <div class="bottom-left-text2">
            <span class="text2">Calabrese Broccoli 8$</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <button class="text22">Image 3 Top Left</button>
          </div>
          <img class="image2" src="../../../assets/conteiner2images/Photo (2).png" alt="Image 3">
          <div class="bottom-left-text2">
            <span class="text2">Fresh Banana Fruites 12$</span>
          </div>
        </div>
        <div class="image-wrapper2">
          <div class="top-left-text2">
            <button class="text22">Image 4 Top Left</button>
          </div>
          <img class="image2" src="../../../assets/conteiner2images/Photo (3).png" alt="Image 4">
          <div class="bottom-left-text2">
            <span class="text2">White Nuts </span>
          </div>
        </div>
      </div>
    </div>
  </div>

