.container {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
  }
  
  .text-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .text {
    display: block;
    margin-bottom: 10px;
  }
  
  .image-row {
    display: flex;
  }
  
  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
  }
  
  .button {
    margin-bottom: 5px;
  }
  
  .image {
    width: 200px;
    height: auto;
  }
  
  .image-text {
    display: block;
  }