<div class="container">
    <div class="text-column">
      <span class="text">Text 1</span>
      <span class="text">Text 2</span>
    </div>
    <div class="image-row">
      <div class="image-wrapper">
        <button class="button">Button 1</button>
        <img class="image" src="../../../assets/conteiner2images/image 13.png" alt="Image 1">
        <span class="image-text">Image Text 1</span>
      </div>
      <div class="image-wrapper">
        <button class="button">Button 2</button>
        <img class="image" src="../../../assets/conteiner2images/image 13.png" alt="Image 2">
        <span class="image-text">Image Text 2</span>
      </div>
      <div class="image-wrapper">
        <button class="button">Button 3</button>
        <img class="image" src="../../../assets/conteiner2images/image 13.png" alt="Image 3">
        <span class="image-text">Image Text 3</span>
      </div>
      <div class="image-wrapper">
        <button class="button">Button 4</button>
        <img class="image" src="../../../assets/conteiner2images/image 13.png" alt="Image 4">
        <span class="image-text">Image Text 4</span>
      </div>
    </div>
  </div>