<div class="container">
    <div class="row">
      <div class="col1">
        <div class="vertical">
          <h2>Dairy Products</h2>
          <p class="lor">{{product.dairyProducts }}</p>
          <h2>Store Services</h2>
          <p class="lor">{{product.storeServices}}</p>
          <h2>Delivery Services</h2>
          <p class="lor">{{product.deliveryServices}}</p>
        </div>
      </div>
      <div class="col">
        <img src="../../../assets/serviceimages/Photo (8).png" alt="Image">
      </div>
      <div class="col2">
        <div class="vertical1">
          <h2>Agricultural Services</h2>
          <p class="lor">{{product.agriculturalServices}}</p>
          <h2>Organic Products</h2>
          <p class="lor">{{product.organicProducts}}</p>
          <h2>Fresh Vegetables</h2>
          <p class="lor">{{product.freshVegetables}}</p>
        </div>
      </div>
    </div>
  </div>
