<app-navbar></app-navbar>

<div class="choose">
    <img src="../../../assets/images/Image.png">
    <div class="choose_text">
        <h4 class="choose_text1">100% Natural Food</h4>
        <h2 class="choose_text2">Choose the best <br> healthier way <br> of life</h2>
        <!-- <div class="button-container">
            <button>
                Explore Now
                <img src="../../../assets/images/right.png" alt="Image">
            </button>
        </div> -->
    </div>
</div>

<div class="container">
    <div class="inner-div">
      <div class="image-wrapper">
        <img src="../../../assets/images/Photo (1).jpg" alt="Rasm 1">
        <div class="text-wrapper">
          <span class="text"><h2 class="nat">Natural!!</h2><h1>Get Garden <br> Fresh Fruits</h1></span>
        </div>
      </div>
      <div class="image-wrapper">
        <img src="../../../assets/images/Photo.jpg" alt="Rasm 2">
        <div class="text-wrapper">
          <span class="text"><h2 class="Offer">Offer!!</h2> <h1 class="get">Get 10% off <br> on Vegetables</h1></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container1">
    <img class="image1" src="../../../assets/images/Photo.png" alt="Rasm">
    <div class="sub-div1">
      <div class="text-wrapper1">
        <span class="text1"><h4>About Us</h4></span>
        <span class="text1"><h1>We Belive in Working <br>Accredited Farmers </h1></span>
        <span class="text1"><h6>Simply dummy text of the printing and typesetting industry. Lorem had ceased to <br>been the industry's standard dummy text ever since the 1500s, when an unknown <br>printer took a galley.</h6></span>
        <span class="text1"><h2>Organic Foods Only</h2></span>
        <span class="text1"><h6>Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</h6></span>
        <span class="text1"><h2>Quality Standards</h2></span>
        <span class="text1">Simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum</span>
        <!-- <button class="button1">
          Shop Now
          <img src="../../../assets/images/right.png" alt="Image">
      </button> -->
      </div>
    </div>
  </div>

<app-products></app-products>
<br>
<app-subscribe></app-subscribe>
<app-bottom></app-bottom>
  


  
  


    

