<div class="container">
    <div class="first-div">
      <h4 class="it">Why Choose us?</h4>
      <h2>We do not buy from the <br>
        open market & traders.</h2>
      <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased <br>to been the industry's standard  the 1500s.</p>
      <br>
      <h4 class="it">100% Natural Product</h4>
      <br>
      <p>Simply dummy text of the printing and typesetting <br>industry Lorem Ipsum</p>
      <h4 class="it"> Increases resistance</h4>
      <p>Filling, and temptingly healthy, our Biona Organic <br>Granola with Wild Berries is just the thing</p>
    </div>
    <div class="second-div">
      <img class="image" src="../../../assets/aboutimages/Photo (8).jpg" alt="Image">
    </div>
  </div>
