.container {
    display: flex;
    
    
  }
  
  
 .first-div p{
    margin-left: 30px;
    color: rgba(126, 182, 147, 1);
 }
 .second-div p{
    margin-left: 300px;
    color: rgba(126, 182, 147, 1);
 }
 .third-div p{
    margin-left: 330px;
    color: rgba(126, 182, 147, 1);
 }
 .bob{
    margin-left: 30px;
 }
 .mar{
    margin-left: 300px;
 }
 .rig{
    margin-left: 330px;
 }